<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title"> Titre du post </label>
        <input type="text" id="title" class="form-control" formControlName="title">
    </div>
    <div class="form-group">
        <label for="content"> contenu du post </label>
        <input type="text" id="content" class="form-control" formControlName="content">
    </div>
      <button class="btn btn-primary" type="submit" [disabled]="itemForm.invalid">Enregistrer</button>
    </form>
  </div>
</div>
