<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': loveIts > 0,
                'list-group-item-danger': loveIts < 0}">

              <h1 [ngStyle]="{color: getColor()}"> {{ title }} {{ lastUpdate | async | date: 'short' }} </h1>
              <br />
              <h4> {{ content }}</h4>

              <div class="btn-toolbar">
                  <button class="btn btn-success"
                  (click)="like()">Love it !</button>
    
                  <button class="btn btn-danger"
                  (click)="dislike()">Don't love it !</button>

              </div>
              
            
</li>
